* {
    margin: 0;
    padding: 0;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Cream);

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--White);
    margin: 30px 20px;
    max-width: 650px;
    /* padding: 30px; */

    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: row; */
    /**/
    border-radius: 1rem;
}

@media (max-width: 375px) {}

img {
    width: auto;
}

.hero {
    width: auto;
    margin: 30px 20px;
    max-width: 650px;
    padding: 30px;
    height: auto;

    /* display: flex; */
    /* align-items: center; */
}

h1 {
    color: var(--Very-dark-blue);
    font-family: 'Frances';
    font-weight: 700;
    font-size: 2rem;
}

.price>h1 {
    color: var(--Dark-cyan);
}

h2 {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 3rem;
    text-transform: uppercase;
}

p {
    font-weight: 500;
}

button {
    background-color: var(--Dark-cyan);
    color: var(--Cream);
}

button:hover,
button:focus {
    background-color: var(--Very-dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    margin: 20px 0px;
    /* color: var(--Very-dark-blue); */
}
