* {
    margin: 0;
    padding: 0;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Cream);

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: var(--Very-dark-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--White);
    margin: 30px 20px;
    max-width: 650px;
    /* padding: 30px; */

    /* display: flex; */
    /* align-items: center; */

    border-radius: 1rem;
}

@media (max-width: 375px) {

}

img {
    width: auto;
}

div {
    padding: 20px;
    width: auto;
}

h1 {
    font-family: 'Frances';
    font-weight: 700;

}

h2 {
    font-weight: 700;
}

p {
    font-weight: 500;
}

button {
    background-color: var(--Dark-cyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
